.background {
    height: 100%;
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0; /* Corrected from 'none' */
    object-fit: cover; /* Make sure .background is an image or video if using this */
    z-index: -1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 500ms ease-in-out;
}
